/* User card btn */

.card {
    transition: all 0.3s ease-in-out;
    width: 100%;
    background-color:rgb(26, 158, 158);
    color: #1A1C1F;
    padding: 40px 40px;
    border-radius: 30px;
  }
  
  .card:hover {
    background-color: #55042f;
    color: #fff;
    cursor: pointer;
  }
  
  .row img {
    border-radius: 50%;
    ;
  }
  
  .box {
    padding: 30px 30px;
    font-size: 20px;
  }
  